<!-- <nav className="bg-black py-6 h-full">
            <div className="container flex justify-between items-center gap-52">
                <img class="w-[200px] h-[80px] padding " src={logoIcon} />
                <ul className= "hidden md:flex flex-row items-center gap-4 lg:gap-8 text-lg">
                     <li>
                     <button
                        type="button"
                        className="text-white border border-[#009900] hover:bg-[#009900] focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Sign Up</button>
                    </li>
                    <li>
                    <button
                        type="button"
                        className="text-white bg-[#009900] border border-transparent hover:bg-transparent hover:border-[#009900] hover:text-white focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Login</button>

                    </li>

                </ul>
            </div>
        </nav> -->